In [16]:
import pandas as pd

df = pd.read_excel(r"C:\Users\52031341\Documents\Programming\TestData.xlsx", index_col=0, parse_dates=True)

df.tail(6)

            FTSE All Share    FTSE 100
2018-11-05       5809.4099  10773.9884
2018-11-06       5764.9782  10678.1972
2018-11-07       5822.6217  10794.3721
2018-11-08       5848.3160  10839.1756
2018-11-09       5816.1178  10785.5313
2018-11-12       5766.4600  10706.2000

In [37]:
import pandas as pd

from pandas.tseries.offsets import BDay

import datetime

def dailyreturn(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    day1 = today - BDay(2)
    ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    pctret = ret *100
    print(pctret)
    
dailyreturn('FTSE All Share')

def weeklyreturn(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    day1 = today - BDay(6)
    ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    pctret = ret *100
    print(pctret)
    
weeklyreturn('FTSE All Share')

def monthtodate(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    month0 = day0.month
    year0 = day0.year
    day1 = (datetime.date(year0, month0, 1))
    day2 = day1 - BDay(1)
    try:
        ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    except:
        ret = (df[index].loc[day0])/(df[index].loc[day2])-1
    
    pctret = ret *100
    print(pctret)
    
    
monthtodate('FTSE All Share')

def previous_quarter(ref):
    if ref.month < 4:
        return datetime.date(ref.year - 1, 12, 31)
    elif ref.month < 7:
        return datetime.date(ref.year, 3, 31)
    elif ref.month < 10:
        return datetime.date(ref.year, 6, 30)
    return datetime.date(ref.year, 9, 30)

def quartertodate(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    day1 = previous_quarter(day0)
    day2 = day1 - BDay(1)
    try:
        ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    except:
        ret = (df[index].loc[day0])/(df[index].loc[day2])-1
    
    pctret = ret *100
    print(pctret)

quartertodate('FTSE All Share')

def yeartodate(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    year0 = day0.year
    day1 = (datetime.date(year0, 1, 1))
    day2 = day1 - BDay(1)
    try:
        ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    except:
        ret = (df[index].loc[day0])/(df[index].loc[day2])-1
    
    pctret = ret *100
    print(pctret)
    
yeartodate('FTSE All Share')

-0.8537963244142022
-0.7393160534256649
-0.9133408168780388
-5.964936655738362
-5.219139012674578