In [147]:
import pandas as pd

df = pd.read_excel(r"C:\Users\52031341\Documents\Programming\TestData.xlsx", index_col=0, parse_dates=True)

df.tail(6)

            FTSE All Share    FTSE 100
2018-11-02       5815.4572  10759.2466
2018-11-05       5809.4099  10773.9884
2018-11-06       5764.9782  10678.1972
2018-11-07       5822.6217  10794.3721
2018-11-08       5848.3160  10839.1756
2018-11-09       5816.1178  10785.5313

In [137]:
type(datetime.date(2017, 4, 13))
df['FTSE All Share'].loc[datetime.date(2017, 4, 13)]

5638.0536

In [105]:
df.loc['2018-01-01']

FTSE All Share    6083.992
Name: 2018-01-01 00:00:00, dtype: float64

In [139]:
today = (pd.datetime.today()).date()
prev = today - BDay(1)
print(prev)
df['FTSE All Share'].loc[prev]

2018-11-09 00:00:00

5816.1178

In [63]:
import datetime

print(datetime.date(2008, 11, 22))

2008-11-22

In [143]:
def dailyreturn(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    day1 = today - BDay(2)
    ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    pctret = ret *100
    print(pctret)
    
dailyreturn('FTSE All Share')

def weeklyreturn(index):
    today = (pd.datetime.today()).date()
    day0 = today - BDay(1)
    day1 = today - BDay(6)
    ret = (df[index].loc[day0])/(df[index].loc[day1])-1
    pctret = ret *100
    print(pctret)
    
weeklyreturn('FTSE All Share')

-0.5505550657659342
0.011359382027609222