In [9]:
import pandas as pd

df = pd.read_excel(r"C:\Users\52031341\Documents\Programming\TestData.xlsx")

df.head()

            FTSE All Share
2017-04-13       5638.0536
2017-04-14       5638.0536
2017-04-17       5638.0536
2017-04-18       5515.2819
2017-04-19       5500.6258

In [67]:
df['2018-01']

            FTSE All Share
2018-01-01       6083.9920
2018-01-02       6056.1935
2018-01-03       6074.8123
2018-01-04       6095.8356
2018-01-05       6120.1787
2018-01-08       6099.4532
2018-01-09       6122.7009
2018-01-10       6128.1489
2018-01-11       6137.4663
2018-01-12       6153.0330
2018-01-15       6146.6190
2018-01-16       6140.3346
2018-01-17       6114.7792
2018-01-18       6095.9499
2018-01-19       6114.1750
2018-01-22       6104.1541
2018-01-23       6115.7322
2018-01-24       6052.4204
2018-01-25       6034.5901
2018-01-26       6069.7447
2018-01-29       6071.3164
2018-01-30       6005.8089
2018-01-31       5966.2708

In [68]:
df['2018-01-01']

KeyError: '2018-01-01'

In [60]:
today = pd.datetime.today()
print(today)

2018-11-12 10:46:54.145555

In [32]:
print(today.strftime('%d-%m-%y'))

12-11-18

In [64]:
from pandas.tseries.offsets import BDay
prevday = today - BDay(1)
print(today - BDay(1))
print(type(today - BDay(1)))
print(prevday.strftime('%Y-%m-%d'))
print(type(prevday.strftime('%Y-%m-%d')))

2018-11-09 10:51:44.984589
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2018-11-09
<class 'str'>

In [63]:
import datetime

print(datetime.date(2008, 11, 22))

2008-11-22

In [66]:
def dailyreturn():
    today = pd.datetime.today()
    day0 = today - BDay(1)
    day1 = today - BDay(2)
    sday0 = day0.strftime('%Y-%m-%d')
    sday1 = day1.strftime('%Y-%m-%d')